#stat_card {
  width: 300px;
  height: 400px;
  border: solid 5px black;
  padding: 5px;
  z-index: 4;
  background-color: white;
}

.centered {
  position: fixed;
  top: 25%;
  left: 25%;
}

#avatar {
  margin-left: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.extra_card {
  width: 300px;
  height: 400px;
  border: solid 5px black;
  background-color: white;
}

.one {
  transform: translate(25px, 0) rotate(5deg);
  z-index: 3;
}

.two {
  transform: translate(35px, 0) rotate(10deg);
  z-index: 2;
}

.three {
  transform: translate(50px, 0) rotate(15deg);
  z-index: 1;
}
